1_crawl_trials/chictr/data/raw*
1_crawl_trials/euctr/data/raw*
1_crawl_trials/chictr/data/xml_item
1_crawl_trials/iran/data/raw*
3_crawl_paper/data
1_crawl_trials/chictr/xml
1_crawl_trials/chictr/data/xml_item
3_crawl_paper/embase/data/abstract
temp.py
temp2.py

data/downstream/summazization/multi-trial/train.json

__pycache__/
temp/
raw*/

openai_key.py
*.key

data/downstream/matching/patient2trial/cohort/criteria.csv
data/downstream/design/ctgov/
data/downstream/design/raw

data/downstream/design/parsed/study_arms/train.json
data/downstream/design/parsed/outcome_measures/train.json
data/downstream/design/parsed/criteria/train.json
data/downstream/matching/patient2trial/TREC2021/train.json
data/downstream/matching/patient2trial/TREC2021/train_cot.json

visulization

.DS_Store

